@font-face {
  font-family: calcDisplay;
  src: url(./fonts/digital-7-font/Digital7Mono-Yz9J4.ttf);
  font-weight: 700;
}

body {
  margin-top: 50px;
  font-family: Arial, Helvetica, sans-serif;
}
.calculator {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 750px;
  width: 500px;
  border: 1px solid black;
  border-radius: 24px;
  background-color: whitesmoke;
  filter: drop-shadow(2px 2px 9px #000000);
  margin: auto;
}

.buttons {
  display: flex;
  flex-direction: column;
  flex: 3;
  padding: 12.5px  25px 25px;
  justify-content: flex-end;
}

.button:hover{
  background-color: lightgray;
}

.numbersPlus {
  display: flex;
  flex: 1;
}

.numbRow1,
.numbRow2,
.numbRow3,
.numbRow4,
.total {
  display: flex;
  flex: 1;
  gap: 4px;
  padding: 2px;
}

.operators {
  display: flex;
  flex: 0.2;
  gap: 4px;
  padding: 2px;
}

.numbers {
  display: flex;
  flex-direction: column;
  flex-basis: 75%;
}


.button {
  flex: 1;
  font-size: 24px;
  border-radius: 8px;
  border: 1px solid black;
}

.display {
  margin: 25px 12.5px  12.5px 12.5px;
  flex: .25;
  width: 450px;
  min-height: 100px;
  align-self: center;
  text-align: right;
  font-family: calcDisplay;
  font-size: 96px;
  color: rgb(36, 36, 36);
  border-radius: 8px;
  border: 1px groove black;
  background-image: linear-gradient(to right top, #ffffff, #ffffff, #e8eeff, #d8e7ff, #abd8ff);
}

.previous{
  padding: 0px 12px ;
  font-size: 40px;
  
}

.current{
  padding: 0px 12px;
  font-size: 56px;
}

.zero{
  flex: 2.2;
}